/* Navbar Container show and hide animation Start*/
.header-animate-open{
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    box-shadow: 0 5px 20px -5px black;
    animation: header-open .4s ease-out both;
}
@keyframes header-open {
    from {
        top: -60px;
    }
    to {
        top: 0;
    }
}

.header-animate-close{
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    box-shadow: 0 5px 20px -5px black;
    animation: header-close .2s ease-out both;
}
@keyframes header-close {
    from {
        top: 0;
    }
    to {
        top: -100px;
        position: absolute;
    }
}
/* Navbar Container show and hide animation End*/

/* Moda video container show and hide animation Start*/

div#moda-video {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: -200%;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 1s ease-out;
}

.moda-video-bg{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.moda-video-container {
    width: 60%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 25px;
}

.moda-video-container video {
    width: 100%;
    height: 100%;
}

.moda-video-close {
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 15px;
    transform: rotate(45deg);
    cursor: pointer;
}

.moda-video-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 20px;
    background-color: white;
}

.moda-video-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 3px;
    background-color: white;
}

/* Moda video container show and hide animation End*/

.team-slide{
    left: 100%;
    opacity: 0;
}