/*General Style Start*/

/* = = = = = = = = = = Global Fonts Start = = = = = = = = = =*/
@font-face {
    font-family: 'Conv_Wisdom Script AJ';
    src: url('../fonts/wisdom/Wisdom Script AJ.eot');
    src: local('☺'), url('../fonts/wisdom/Wisdom Script AJ.woff') format('woff'), url('../fonts/wisdom/Wisdom Script AJ.ttf') format('truetype'), url('../fonts/wisdom/Wisdom Script AJ.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* = = = = = = = = = = Global Fonts End = = = = = = = = = =*/

/* = = = = = = = = = = Global CSS Style Start = = = = = = = = = =*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    font-family: 'Poppins', sans-serif, serif;
    font-size: 15px;
    font-weight: 400;
}
/* = = = = = = = = = = Global CSS Style End = = = = = = = = = =*/

/* = = = = = = = = = = Global Text, Buttons, a link, image and inputs Style Start = = = = = = = = = =*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}
h1, .h1{
    font-size: 60px;
}
h2, .h2{
    font-size: 50px;
}
h3, .h3{
    font-size: 30px;
}
h4, .h4{
    font-size: 20px;
}
h5, .h5{
    font-size: 16px;
}
h6, .h6{
    font-size: 12px;
}
a{
    text-decoration: none;
    color: black;
}
button{
    font-family: 'Poppins', sans-serif, serif;
    font-weight: 500;
    margin: 0;
    border: none;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}
button:focus{
    outline: none;
}
button:active{
    transform: translateY(2px);
}
button:hover{
    box-shadow: 0 0 20px 5px #cacaca4d;
}
input:focus{
    outline: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* = = = = = = = = = = Global Text, Buttons, a link and inputs Style End = = = = = = = = = =*/

/* = = = = = = = = = = Global Color CSS Start = = = = = = = = = =*/
[class*='shadow']{
    transition: box-shadow 350ms ease-out;
}
tspan{
    white-space: pre;
}
.cl-logo{
    color: #fc5f45;
}
.bg-bg-black{
    background-color: rgba(0,0,0,0.7);
}
.bg-tr{
    background-color: transparent;
}
.cl-white{
    color: white;
}
.bg-white{
    background-color: white;
}
.cl-green{
    color: #38c695;
}
.bg-green{
    background-color: #38c695;
}
.lg-green{
    background: linear-gradient(to top, #38c695 -30%, transparent 70%);
}
.shadow-green:hover{
    box-shadow: 0 0 20px 5px #38c695;
}
.svg-green{
    fill: #38c695;
}
.cl-red{
    color: #fc5f45;
}
.bg-red{
    background-color: #fc5f45;
}
.lg-red{
    background: linear-gradient(to top, #fc5f45 -30%, transparent 70%);
}
.shadow-red:hover{
    box-shadow: 0 0 20px 5px #fc5f45;
}
.svg-red{
    fill: #fc5f45;
}
.cl-purple{
    color: #b27cf5;
}
.bg-purple{
    background-color: #b27cf5;
}
.lg-purple{
    background: linear-gradient(to top, #b27cf5 -30%, transparent 70%);
}
.shadow-purple:hover{
    box-shadow: 0 0 20px 5px #b27cf5;
}
.svg-purple{
    fill: #b27cf5;
}
.cl-orange{
    color: #feb960;
}
.bg-orange{
    background-color: #feb960;
}
.lg-orange{
    background: linear-gradient(to top, #feb960 -30%, transparent 70%);
}
.shadow-orange:hover{
    box-shadow: 0 0 20px 5px #feb960;
}
.svg-orange{
    fill: #feb960;
}
/* = = = = = = = = = = Global Color CSS End = = = = = = = = = =*/

/* = = = = = = = = = = Global Style Start = = = = = = = = = =*/
div[class$='-container']{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
div[class*='-line-bg']{
    z-index: 2;
    border: 10px solid rgba(0, 0, 0, .3);
    box-sizing: border-box;
}
h2[class$='-title']{
    font-weight: 700;
}
.upper{
    text-transform: uppercase;
}
.tx-center{
    text-align: center;
}
.pos-abs{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.behind-line-pos{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    display: flex;
    align-items: center;
}
.top-pos{
    top: 0;
    bottom: unset;
}
.behind-line-items{
    width: 100%;
    height: 100%;
}
.numberPos{
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.secNumber{
    color: #e0e0e0;
    font-size: 270px;
}
.button{
    display: inline-block;
    cursor: pointer;
    transition: box-shadow 150ms ease-in-out;
}
.button:hover{
    box-shadow: 0 0 20px 5px #cacaca4d;
}
.button:active{
    transform: translateY(2px);
}
/* = = = = = = = = = = Global Style End = = = = = = = = = =*/

/*General Style End*/

