/*Nav Style Start*/
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    padding: 9px 99px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    width: 100%;
    max-width: 1366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-family: 'Conv_Wisdom Script AJ', sans-serif;
    font-weight: normal;
    font-size: 33px;
}

.nav-list a {
    margin-right: 25px;
    font-weight: 500;
}

.nav-list a:last-child {
    margin: 0;
}

/*Nav Style End*/

/*Main Style Start*/
.main-container {
    padding-top: 55px;
}

/*Main Style End*/

/* = = = = = = = = = = Section Home Start = = = = = = = = = =*/
.home-container {
    height: 850px;
    background-image: url("../images/home/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-inner {
    width: 830px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.home-title {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.home-btn {
    text-align: center;
    margin-bottom: 90px;
}

.home-btn button:first-child {
    margin-right: 25px;
}

.home-btn button {
    font-size: 16px;
    width: 180px;
    padding: 12px 0;
    border-radius: 25px;
}

.home-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-icon-items {
    text-align: center;
}

.home-icon-items svg {
    margin-bottom: 36px;
}

.home-icon-items p {
    font-size: 18px;
}

/* = = = = = = = = = = Section Home End = = = = = = = = = =*/

/* = = = = = = = = = = Section About Start = = = = = = = = = =*/
.about-container {
    min-height: 1000px;
}

.about-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.about-image {
    width: 555px;
    height: 700px;
    position: relative;
}

.about-information {
    width: 650px;
    background-color: white;
    position: relative;
    left: -70px;
    z-index: 3;
    padding: 80px;
    box-sizing: border-box;
}

.numberOne {
    top: 105px;
    left: 115px;
}

.about-info {
    position: relative;
    z-index: 2;
}

.about-title {
    margin-bottom: 50px;
}

/* = = = = = = = = = = Section About End = = = = = = = = = =*/

/* = = = = = = = = = = Section Focus Start = = = = = = = = = =*/
.focus-container {
    background-color: #ececec;
}

.numberTwo {
    top: -95px;
    left: 50%;
    transform: translateX(-50%);
}

.focus-inner {
    position: relative;
    z-index: 2;
    padding: 130px 90px;
    box-sizing: border-box;
}

.focus-title {
    margin-bottom: 40px;
}

.focus-text {
    margin-bottom: 80px;
}

.focus-table {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.focus-table-items {
    position: relative;
    width: 263px;
    height: 350px;
    margin-bottom: 50px;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.focus-table-icon {
    margin-bottom: 35px;
}

.focus-table-title {
    margin-bottom: 35px;
}

/* = = = = = = = = = = Section Focus End = = = = = = = = = =*/

/* = = = = = = = = = = Section Video Start = = = = = = = = = =*/
.video-container {
    background-image: url("../images/video/video.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.video-inner {
    position: relative;
    z-index: 2;
    padding: 130px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-title {
    color: white;
    margin-bottom: 50px;
}

.video-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 50px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-text {
    color: white;
}

/* = = = = = = = = = = Section Video End = = = = = = = = = =*/

/* = = = = = = = = = = Section Portfolio Start = = = = = = = = = =*/
.numberThree {
    top: 115px;
    left: 50%;
}

.portfolio-inner {
    position: relative;
    z-index: 2;
    padding: 130px 90px;
    box-sizing: border-box;
}

.portfolio-title {
    margin-bottom: 40px;
}

.portfolio-text {
    margin-bottom: 80px;
}

.portfolio-table {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-table-items {
    width: 30%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.portfolio-table-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    transition: top .5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-table-items:hover .portfolio-table-info {
    top: 0;
}

.portfolio-table-info-top {
    width: 100%;
    height: 80%;
    position: relative;
}

.portfolio-table-info-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    transition: box-shadow 150ms ease-in-out;
}

.plus-circle {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    transition: box-shadow 150ms ease-in-out;
}

.portfolio-table-info-plus:hover {
    box-shadow: 0 0 20px 5px #cacaca4d;
}

.line-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 2px;
    background-color: white;
}

.line-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 80%;
    background-color: white;
}

.portfolio-table-info-bottom {
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-table-info-bottom-text {
    font-weight: 500;
    font-size: 18px;
}

/* = = = = = = = = = = Section Portfolio End = = = = = = = = = =*/

/* = = = = = = = = = = Section Team Start = = = = = = = = = =*/
.team-container {
    background-color: #ececec;
}

.team-inner {
    position: relative;
    z-index: 2;
    padding: 130px 90px;
}

.numberFour {
    top: 115px;
    left: 50%;
}

.team-title {
    margin-bottom: 40px;
}

.team-text {
    margin-bottom: 80px;
}

.team-table {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.team-table-card {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-table-card-item {
    width: 263px;
    height: 350px;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.team-table-card-img {
    position: relative;
    width: 100%;
    height: 80%;
}

.team-table-card-info {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-personal-name {
    font-weight: 500;
    font-size: 18px;
}

.team-personal-proff {
    font-size: 14px;
}

.team-table-info {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 75px 100px;
    box-sizing: border-box;
}

.team-table-info-item {
    width: 100%;
    text-align: left;
    position: absolute;
}

.team-table-info-arrow {
    position: absolute;
    top: 0;
    left: 90px;
    transform: translateY(-100%);
    background-color: transparent;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 40px solid transparent;
    border-bottom-color: white;
}

.team-table-info-title {
    font-weight: 500;
    margin-bottom: 35px;
}

.team-table-info-item-inner {
    display: flex;
    justify-content: space-between;
}

.team-table-info-text {
    width: 640px;
    font-size: 15px;
    line-height: 27px;
}

.team-table-info-right {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-table-vertical-line {
    width: 2px;
    height: 100%;
    background-color: #cecece;
}

.team-table-info-soc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.team-table-info-soc-item {
    display: flex;
    align-items: center;
}

.team-table-info-soc-item svg {
    margin-right: 5px;
}

div#team-table-slide {
    position: relative;
    overflow: hidden;
    height: 220px;
}

.person1 {
    top: 0;
    left: 0;
}

.person2 {
    top: 0;
    left: 100%;
}

.person3 {
    top: 0;
    left: 200%;
}

.person4 {
    top: 0;
    left: 300%;
}

/* = = = = = = = = = = Section Team End = = = = = = = = = =*/

/* = = = = = = = = = = Section Options Start = = = = = = = = = =*/
.options-container {
    min-height: 464px;
    position: relative;
    background-image: url("../images/options/options.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-inner {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options-items {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.options-items-value {
    font-weight: 500;
}

.options-items-border {
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: transparent;
}

.options-items-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.options-br-green {
    border-color: #38c695;
}

.options-br-red {
    border-color: #fc5f45;
}

.options-br-purple {
    border-color: #b27cf5;
}

.options-br-orange {
    border-color: #feb960;
}

/* = = = = = = = = = = Section Options End = = = = = = = = = =*/

/* = = = = = = = = = = Section Work Steps Start = = = = = = = = = =*/
.numberFive {
    top: 115px;
    left: 50%;
}

.work-inner {
    position: relative;
    z-index: 2;
    padding: 130px 90px;
}

.work-title {
    margin-bottom: 40px;
}

.work-text {
    margin-bottom: 80px;
}

.work-table {
    width: 556px;
    margin: 0 auto;
}

.work-table-items {
    width: 100%;
    height: 300px;
    position: relative;
}

.work-table-items-info {
    width: 460px;
    height: 300px;
    position: absolute;
    z-index: 3;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 30px 25px;
    box-sizing: border-box;
    text-align: left;
}

.work-table-items-info.left {
    bottom: 50px;
    right: 390px;
}

.work-table-items-info.right {
    bottom: 50px;
    left: 390px;
}

.workNumContainer {
    width: 25%;
}

.workNumber {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #e0e0e0;
}

.work-table-info-inner {
    width: 75%;
    align-self: center;
}

.work-number-line {
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #e0e0e0;
    transform: rotate(-45deg);
    top: 75px;
    left: 15px;
}

.work-table-info-title {
    font-size: 25px;
    margin-bottom: 30px;
}

.work-table-info-text {
    font-size: 15px;
}

/* = = = = = = = = = = Section Work Steps End = = = = = = = = = =*/

/* = = = = = = = = = = Section Pricing Start = = = = = = = = = =*/
.pricing-container {
    background-color: #ececec;
}

.numberSix {
    top: 115px;
    left: 50%;
}

.pricing-inner {
    position: relative;
    z-index: 2;
    padding: 130px 90px;
}

.pricing-title {
    margin-bottom: 40px;
}

.pricing-text.tx-center {
    margin-bottom: 80px;
}

.pricing-table {
    width: 100%;
    max-width: 1366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricing-table-items {
    position: relative;
    padding: 35px 70px;
    box-sizing: border-box;
    width: 360px;
    background-color: white;
}

.pricing-table-items-title {
    font-weight: 500;
    margin-bottom: 30px;
}

.pricing-table-items-round {
    width: 110px;
    height: 110px;
    background-color: transparent;
    position: relative;
    border: 4px solid;
    border-radius: 100%;
    margin: 0 auto 40px;
}

.pricing-table-items-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing-table-items-price {
    font-size: 25px;
    font-weight: 500;
}

.pricing-table-items-month {
    font-size: 13px;
}

.pricing-br-green {
    border-color: #38c695;
}

.pricing-br-red {
    border-color: #fc5f45;
}

.pricing-br-purple {
    border-color: #b27cf5;
}

.pricing-br-orange {
    border-color: #feb960;
}

.pricing-table-items-text {
    margin-bottom: 40px;
}

.pricing-table-items-text p {
    line-height: 40px;
}

.pricing-table-items-btn button {
    padding: 15px 35px;
    border: 1px solid;
    border-radius: 30px;
    font-weight: 600;
}

/* = = = = = = = = = = Section Pricing End = = = = = = = = = =*/

/* = = = = = = = = = = Section Testimonials Start = = = = = = = = = =*/
.testimonials-container {
    background-image: url("../images/testimonials/port03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 860px;
}

.numberSeven {
    top: 115px;
    left: 50%;
}

.num_07 {
    color: #5d5d62;
}

.testimonials-inner {
    position: relative;
    z-index: 2;
    padding: 130px 90px;
}

.testimonials-title {
    margin-bottom: 40px;
}

.testimonials-text {
    margin-bottom: 120px;
}

.testimonials-table {
    width: 100%;
    max-width: 1080px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.testimonials-table-items {
    position: relative;
    padding: 40px 40px 40px 360px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonials-table-items-behind {
    top: -85px;
    left: 340px;
    right: unset;
    bottom: unset;
}

.testimonials-table-items-inner {
    text-align: left;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.testimonials-table-items-text {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 15px;
}

.testimonials-table-items-subscript {
    font-size: 40px;
    font-weight: 400;
    font-family: "Sacramento", sans-serif;
}

.testimonials-table-items-name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.testimonials-table-items-img {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    z-index: 3;
    width: 384px;
    height: 399px;
}
.testimonials-slide {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* = = = = = = = = = = Section Testimonials End = = = = = = = = = =*/


/*Main Style End*/