/*Nav Style Start*/
.header-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    padding: 9px 99px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    font-family: 'Conv_Wisdom Script AJ', sans-serif;
    font-weight: normal;
    font-size: 33px;
}
.nav-list a{
    margin-right: 9px;
    font-weight: 500;
}
.nav-list a:last-child{
    margin: 0;
}
/*Nav Style End*/

/*Main Style Start*/

.main-container{
    padding-top: 55px;
}

/* = = = = = = = = = = Section Home Start = = = = = = = = = =*/
.home-container{
    height: 850px;
    background-image: url("../images/home/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-inner{
    width: 830px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.home-title{
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
.home-btn{
    text-align: center;
    margin-bottom: 90px;
}
.home-btn button:first-child{
    margin-right: 25px;
}
.home-btn button{
    font-size: 16px;
    width: 180px;
    padding: 12px 0;
    border-radius: 25px;
}
.home-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-icon-items{
    text-align: center;
}
.home-icon-items svg{
    margin-bottom: 36px;
}
.home-icon-items p{
    font-size: 18px;
}
/* = = = = = = = = = = Section Home End = = = = = = = = = =*/

/* = = = = = = = = = = Section About Start = = = = = = = = = =*/
.about-container{
    min-height: 1000px;
}
.about-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}
.about-image{
    width: 555px;
    height: 700px;
    position: relative;
}
.about-line-bg{
    z-index: 2;
    border: 10px solid rgba(0, 0, 0, .3);
    box-sizing: border-box;
}
.about-information{
    width: 650px;
    background-color: white;
    position: relative;
    left: -70px;
    z-index: 3;
    padding: 80px;
    box-sizing: border-box;
}
.numberOne{
    top: 105px;
    left: 115px;
}
.about-info{
    position: relative;
    z-index: 2;
}
.about-title{
    margin-bottom: 50px;
    font-weight: 700;
}
/* = = = = = = = = = = Section About End = = = = = = = = = =*/

/* = = = = = = = = = = Section Focus Start = = = = = = = = = =*/
.focus-container {
    background-color: rgba(0, 0, 0, .05);
}
.numberTwo {
    top: -95px;
    left: 50%;
    transform: translateX(-50%);
}
.focus-inner {
    position: relative;
    z-index: 2;
    padding: 130px 90px;
}
.focus-title {
    font-weight: 700;
    margin-bottom: 20px;
}
.focus-text {
    margin-bottom: 80px;
}
.focus-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.focus-table-items {
    position: relative;
    width: 190px;
    height: 240px;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.focus-table-icon {
    margin-bottom: 25px;
}
.focus-table-title {
    margin-bottom: 25px;
}

/* = = = = = = = = = = Section Focus End = = = = = = = = = =*/


/*Main Style End*/